{
	"Game1": {
		"team1": {
			"NumberOfMembers": "10",
				"Modules": [
				{"name":"Module1", "estimate":"10"}, 
				{"name":"Module2", "estimate":"7"}
			]
		},
		"team2": {
			"NumberOfMembers": "14",
			"Modules": [
			{"name":"Module11", "estimate":"14"}, 
			{"name":"Module21", "estimate":"18"}
			]
		}
	},
	"Game2": {
		"team3": {
			"NumberOfMembers": "6",
				"Modules": [
				{"name":"Module31", "estimate":"22"}, 
				{"name":"Module32", "estimate":"12"}
			]
		},
		"team4": {
			"NumberOfMembers": "8",
			"Modules": [
			{"name":"Module41", "estimate":"16"}, 
			{"name":"Module42", "estimate":"21"}
			]
		}
	}
}
