{{extend 'layout.html'}}
<style>
td{
    text-align: center;
}
</style>
<h1>{{=title}}</h1>
</br>
</br>
<table width="100%" border="1" cellspacing="1" cellpadding="1"; >
    {{for file in details:}}
        <tr>
            {{url = "/SplunkeGSD/default/load_game/" +file }}
            <td> <a href={{=url}} > {{=file.upper()}} </a></td> <!-- File Name -->
            <td> <table> <!-- For team in file --> 
                {{for team in details[file]:}}
                <tr> <td> {{=team[1].upper()}} (Team Size: {{=team[0]}})</td>
                    <td>
                        <table> <!-- For Module in Team -->
                            {{for module in team[2]:}}
                                <tr> <td> {{=module[0]}} </td> <td> Estimated Effort: {{=module[1]}}</td> </tr>
                            {{pass}}
                        </table>
                    </td>
                    </tr>
                {{pass}}
                </table>
            </td>
        </tr>
    {{pass}}
</table>
