{{extend 'layout.html'}}
<style>
table { table-layout: fixed; }
td{
    text-align: left;
}
td.inner{
    text-align: left;
    width: 33%;
}

</style>
  {{
  response.files.insert(0,URL('static','css/web2py.css'))
  response.files.insert(1,URL('static','css/bootstrap.min.css'))
  response.files.insert(2,URL('static','css/bootstrap-responsive.min.css'))
  response.files.insert(3,URL('static','css/web2py_bootstrap.css'))
  }}

{{include 'web2py_ajax.html'}}
<h1>{{=title}}</h1>
</br>
</br>
<table width="100%" border="1" cellspacing="1" cellpadding="1"; >
    {{for file in details:}}
        <tr>
            {{url = "/SplunkeGSD/default/load_game/" +file }}
            <td width="15%"> <a href={{=url}} > {{=file.upper()}} </a></td> <!-- File Name -->
            <td width="85%"> <table> <!-- For team in file --> 
                {{for team in details[file]:}}
                <tr> <td class="inner"> {{=team[1].upper()}} (Team Size: {{=team[0]}})</td>
                    <td class="inner">
                        <table> <!-- For Module in Team -->
                            {{for module in team[2]:}}
                                <tr> <td class="inner"> {{=module[0]}} </td> <td class="inner"> Estimated Effort: <strong>{{=module[1]}}</strong> person hours</td> </tr>
                            {{pass}}
                        </table>
                    </td>
                    </tr>
                {{pass}}
                </table>
            </td>
        </tr>
    {{pass}}
</table>
