{{extend 'layout.html'}}
<style>
td 
{
    text-align:center; 
    vertical-align:middle;
}
h4, h1
    {
        text-align:center; 
    }
</style>
<h1>
    Welcome to Team Splunke Game
</h1>

<h4>
    Players may choose to start a new game or play a pre-defined game
</h4>

<table width="100%" border="0" cellspacing="1" cellpadding="1" >
    <tr>
        <td align="center">
	<Button type="button" name ="new_button"
	onclick = 'window.location="{{=URL('default', 'new_game')}}";'>
    	Create New Game
	</Button>
        </td>
    </tr>
    <tr>
        <td align="center">
	<Button type="button" name ="new_button"
	onclick = 'window.location="{{=URL('default', 'config_game')}}";'>
    	Select Pre-defined Game
	</Button>
        </td>
    </tr>
</table>
