{{extend 'layout.html'}}
<style>
td 
{
    text-align:center; 
    vertical-align:middle;
}
h4, h1
    {
        text-align:center; 
    }
</style>
<h1>
    Welcome to Team Splunke Game
</h1>

<h4>
    Players may choose to start a new game or play a pre-defined game
</h4>

<table width="100%" border="0" cellspacing="1" cellpadding="1" >
    <tr>
        <td align="center">
            <FORM METHOD="LINK" ACTION={{=new}}>
            <INPUT TYPE="submit" VALUE="Create New Game">
            </FORM>
        </td>
    </tr>
    <tr>
        <td align="center">
            <FORM METHOD="LINK" ACTION='SplunkeGSD/default/config_game'>
            <INPUT TYPE="submit" VALUE={{=config}}>
            </FORM>
        </td>
    </tr>
</table>
