<style>
.fit {
  max-width: 99%;
  max-height: 80%; <!--leaves room at bottom for module things-->
}
.marker {
   max-width: 20%;
   max-height: 20%; <!--leaves room at bottom for module things-->
}
.block {
        position: absolute;
        z-index: 200;
        height: 10px;
        width: 10px;
        border-radius: 5px;
        background:black;
}
.details{
    width:100px;
    height:100px;
    border:solid yellow 2px;
}
.detailsHead{
    background:yellow;
    height:20px;
    text-align:center;
}
.detailsBody{
    background:white;
    height:80px;
}
.endGame{
    position: absolute;
    left:50%;
    margin-left:-150px;
    border:solid black 2px;
    z-index:300;
}
.endGameTitle{
    background:yellow;
    text-align:center;
}
.reportTable{
    border: solid black 2px;
    border-collapse:collapse;
    table-layout: fixed;
}
.tableSiteName{
    background:yellow;
    text-align:center;
    width: 100px;
    overflow: hidden;
    border:solid black 2px;
}
.tableEffortTotal{
    background:pink;
    text-align:center;
    width: 100px;
    overflow: hidden;
    border:solid black 2px;
}
.tableBudgetTitle{
    background:magenta;
    text-align:center;
    width: 100px;
    overflow: hidden;
    border:solid black 2px;
}
.tableRevenueTitle{
    background:green;
    text-align:center;
    width: 100px;
    overflow: hidden;
    border:solid black 2px;
}
.tableModule{
    background:white;
    width: 100px;
    max-width: 100px;
    overflow: hidden;
    border:solid black 2px;
}

</style>

  {{
  response.files.insert(0,URL('static','css/web2py.css'))
  response.files.insert(1,URL('static','css/bootstrap.min.css'))
  response.files.insert(2,URL('static','css/bootstrap-responsive.min.css'))
  response.files.insert(3,URL('static','css/web2py_bootstrap.css'))
  }}

{{include 'web2py_ajax.html'}}
<table width="60%" border="0" cellspacing="1" cellpadding="1"; >
    <tr>
        <td> <h1>{{=title}}</h1>
            </td>
        <td>
        <Button type="button" name ="new_button"
            onclick = 'window.location="{{=URL('default', 'view')}}";'>
            <strong>Next Day</strong>
        </Button>
        </td>
        <td>
            <Button type="button" name ="new_button"
            onclick = 'window.location="{{=URL('default', 'index')}}";'>
            <strong>Home</strong>
            </Button>
        </td>
    </tr>
</table>

<table border="0" width="100%">
    <tr>
        <td>
            <h1>
                Day: {{=day}}
            </h1>
        </td>
        <td>
            <h3>
                Expected: {{=esti}} days
            </h3>
        </td>
        <td>
             <h3> Budget: ${{=the_budget}}
             </h3>
        </td>
            <td>
                <h3>
                    Total Cost: ${{=cost}}
                </h3>
            </td>
            <td>
                  <h3>
                      Expected Revenue: ${{=the_revenue/2}}
                </h3>
            </td>
    </tr>
</table>

<p id="demo"></p>

<body name="body" onload="mapSetup()" onresize="mapSetup()">

<script>
function showDetails(event, loc){
    details = document.getElementById(loc+"details");
    details.style.left = event.clientX + document.body.scrollLeft;
    details.style.top = event.clientY + document.body.scrollTop;
    details.removeAttribute("hidden");
}
function hideDetails(event, loc){
    var details = document.getElementById(loc+"details");
    var left = parseInt(details.style.left, 10);
    var top = parseInt(details.style.top, 10);
    var width = parseInt(window.getComputedStyle(details, "width"), 10);
    var height = parseInt(window.getComputedStyle(details, "height"), 10);
    var test = left + width;
    if (event.clientX < left || event.clientX > (left + 100/*Width of details*/) ||
        event.clientY < top || event.clientY > (top + 100/*Height of details*/)){
        details.setAttribute('hidden', '');
    }
}
function placeMarkers(){
    var locs = [
    {{if modules[0]: }}
        {{=modules[0][4] }}
        {{for team in modules[1:]: }}
            ,{{=team[4]}}
        {{pass}}
    {{pass}}
    ];
    var offset = 5;
    var scale = window.innerWidth / 4500; //width of picture in pixels
    var markers = document.getElementsByClassName("block");
    for(i=0;i<locs.length;i++){
        markers[i].style.top = locs[i][1] * scale - 5;
        markers[i].style.left = locs[i][0] * scale - 5;
    }
}
function mapSetup()
{
var w = window.innerWidth;
var h = window.innerHeight;
x = document.getElementById("map");
x.width = window.innerWidth;
placeMarkers();
if ({{=completed}} /*&& document.getElementsByClassName("endGame") == []*/){
    var body = document.getElementsByName("body");
    var newele = document.createElement("div");
    var report = {{=XML(report)}}
    var budgetR = {{=XML(budget)}}
    var revenueR = {{=XML(revenue)}}
    newele.className = "endGame";
    internal ='<table class="reportTable"><tr><td colspan=3 class="endGameTitle">End of Game Report</td></tr>';
    internal += '<tr><td class="tableSiteName">' + report[0][0] + '</td><td class="tableSiteName">'
    + report[0][1] + '</td><td class ="tableSiteName">' + report[0][2] + '</td>';
    for (i=1;i<report.length-1;i++){
        internal += '<tr><td class="tableSiteName">' + report[i][0] + '</td><td class="tableModule"><strong>'
        + report[i][1] + '</strong> person hours </td><td class ="tableModule"><strong>' + report[i][2] + '</strong> person hours</td>';
    }
    //Change colour for the total of the report.
    internal += '<tr><td class="tableEffortTotal">' + report[i][0] + '</td><td class="tableEffortTotal"><strong>'
    + report[i][1] + '</strong> person hours</td><td class ="tableEffortTotal"><strong>' + report[i][2] + '</strong> person hours</td>';
    for (i=0;i<budgetR.length;i++){
        internal += '<tr><td class="tableBudgetTitle">' + budgetR[i][0] + '</td><td class="tableModule"> $'
        + budgetR[i][1] + '</td><td class ="tableModule"> $' + budgetR[i][2] + '</td>';
    }
    for (i=0;i<revenueR.length;i++){
        internal += '<tr><td class="tableRevenueTitle">' + revenueR[i][0]  + '</td><td class="tableModule"> $'
        + revenueR[i][1] + '</td><td class ="tableModule"> $' + revenueR[i][2] + '</td>';
    }
    internal += '<tr><td class="tableSiteName"> Days </td><td class="tableModule"> ' +{{=day}}+'</td><td class ="tableModule"> ' +{{=esti}}+' </td>';
    internal += '<tr><td colspan="2" class="tableBudgetTitle"> Amount over Budget </br> (Cost - Budget) </td><td class="tableModule"> $'+{{=str("%.2f" % float(final_cost))}}+'</td>'
    internal += '<tr><td colspan="2" class="tableRevenueTitle"> Difference in Yearly Revenue </br> (Estimate - Actual) </td><td class="tableModule"> $'+{{=final_rev}}+'</td>'
    internal += '<tr><td colspan="2" class="tableBudgetTitle"> Total Money Made in Year </br> (Revenue + Budget) - Cost </td><td class="tableModule"> $'+{{=amount}}+'</td>'
    internal += '<tr><td colspan="3" class="tableModule"><FORM METHOD="LINK" ACTION="save_game_report"><INPUT TYPE="submit" VALUE="Save Game Report"></FORM></td></tr>';

    if ({{=saved}}){
        internal += '<tr><td colspan="3" class="tableModule">Game Report Saved</td></tr>';
    }
    internal += '</table>'
    newele.innerHTML = internal;
    body[0].appendChild(newele);
}
}

</script>
    
<div style="position: absolute; z-index:100">
    <img id="map" src="/SplunkeGSD/static/map.PNG"/> 
{{ for team in modules: }}
    {{if team[3][0] == 0:}}
        {{colour = "green"}}
    {{elif team[3][0] == 1:}}
        {{colour = "orange"}}
    {{elif team[3][0] == 2:}}
        {{colour = "red"}}
    {{else:}}
        {{colour = "blue"}}
    {{pass}}
    <div class='block' id='{{=team[0]}}marker' style='background:{{=colour}};' onMouseOver='showDetails(event, "{{=team[0]}}")'></div> 
{{ pass }}
{{for team in modules:}}
    </div>
        <div class="details" id='{{=team[0]}}details' style='z-index:500;position:absolute;' onMouseOut='hideDetails(event, "{{=team[0]}}")' hidden>
            <div class='detailsHead'> 
                {{ =team[0].capitalize() }}
            </div>
        <div class='detailsBody'/>
    </div>
{{ pass }}
</body>

  <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>
