<style>
.fit {
  max-width: 99%;
  max-height: 80%; <!--leaves room at bottom for module things-->
}
.marker {
   max-width: 20%;
   max-height: 20%; <!--leaves room at bottom for module things-->
}
.block {
        position: absolute;
        z-index: 200;
        height: 10px;
        width: 10px;
        border-radius: 5px;
        background:black;
}
.details{
    width: 250px;
    height:340px;
    border:solid black 2px;
}
.detailsHead{
    background:black;
    height:40px;
    text-align:center;
}
.detailsBody{
    background:white;
    height:300px;
}
.requestButton{
}
.requestResult{
    position:relative;
    border:solid black 2px;
    background:white;
}
.endGame{
    position: absolute;
    left:50%;
    margin-left:-150px;
    border:solid black 2px;
    z-index:300;
}
.endGameTitle{
    background:yellow;
    text-align:center;
}
.reportTable{
    border: solid black 2px;
    border-collapse:collapse;
    table-layout: fixed;
}
.tableSiteName{
    background:yellow;
    text-align:center;
    width: 110px;
    overflow: hidden;
    border:solid black 2px;
}
.tableEffortTotal{
    background:pink;
    text-align:center;
    width: 110px;
    overflow: hidden;
    border:solid black 2px;
}
.tableBudgetTitle{
    background:magenta;
    text-align:center;
    width: 110px;
    overflow: hidden;
    border:solid black 2px;
}
.tableRevenueTitle{
    background:green;
    text-align:center;
    width: 110px;
    overflow: hidden;
    border:solid black 2px;
}
.tableModule{
    background:white;
    width: 110px;
    max-width: 110px;
    overflow: hidden;
    border:solid black 2px;
}

</style>

  {{
  response.files.insert(0,URL('static','css/web2py.css'))
  response.files.insert(1,URL('static','css/bootstrap.min.css'))
  response.files.insert(2,URL('static','css/bootstrap-responsive.min.css'))
  response.files.insert(3,URL('static','css/web2py_bootstrap.css'))
  }}

{{include 'web2py_ajax.html'}}
{{ if completed != "true":}}
{{pass}}
<table width="60%" border="0" cellspacing="1" cellpadding="1"; >
    <tr>
        <td> <h1>{{=title}}</h1>
            </td>
        <td>
        <Button type="button" name ="new_button"
            onclick = 'window.location="{{=URL('default', 'view')}}";'>
            <strong>Next Day</strong>
        </Button>
        </td>
        <td>
            <Button type="button" name ="new_button"
            onclick = 'window.location="{{=URL('default', 'index')}}";'>
            <strong>Home</strong>
            </Button>
        </td>
    </tr>
</table>

<table border="0" width="100%">
    <tr>
        <td>
            <h1>
                Day: {{=day}}
            </h1>
        </td>
        <td>
            <h3>
                Expected: {{=esti}} days
            </h3>
        </td>
        <td>
             <h3> Budget: ${{=the_budget}}
             </h3>
        </td>
            <td>
                <h3>
                    Total Cost: ${{=cost}}
                </h3>
            </td>
            <td>
                  <h3>
                      Expected Revenue: ${{=str("{:,.2f}".format(float(the_revenue/2)))}}
                </h3>
            </td>
    </tr>
</table>

<p id="demo"></p>

<body name="body" onload="mapSetup()" onresize="mapSetup()">

<script>
function showDetails(event, loc){
    details = document.getElementById(loc+"details");
    details.style.left = event.clientX + document.body.scrollLeft;
    details.style.top = event.clientY + document.body.scrollTop;
    details.removeAttribute("hidden");
}
function hideDetails(){
    var details = document.getElementsByClassName("details");
    for (i=0;i<details.length;i++){
        details[i].setAttribute('hidden', '');
    }
}
function placeMarkers(){
    var locs = [
    {{if modules[0]: }}
        {{=modules[0][4] }}
        {{for team in modules[1:]: }}
            ,{{=team[4]}}
        {{pass}}
    {{pass}}
    ];
    var offset = 5;
    var scale = window.innerWidth / 4500; //width of picture in pixels
    var markers = document.getElementsByClassName("block");
    for(i=0;i<locs.length;i++){
        markers[i].style.top = locs[i][1] * scale - 5;
        markers[i].style.left = locs[i][0] * scale - 5;
    }
}

function jsIntervention(loc){
    var select = document.getElementById(loc+'inter');
    var requestType = select.options[select.selectedIndex].id;
    var thediv = document.getElementById(loc.replace(' ','_')+'requestResult');
    if (!thediv){
        var thediv = document.createElement('DIV');
        thediv.id = loc.replace(' ','_')+'requestResult';
    }
    ajax('{{=URL("addIntervention")}}'+'/'+requestType+'/'+(loc.replace(' ','_')),[],thediv.id);
    document.getElementById('requestResults').appendChild(thediv);
}
function queryHandler(loc){
    var select = document.getElementById(loc+'queries');
    var requestType = select.options[select.selectedIndex].id;
    var thediv = document.getElementById(loc.replace(' ','_')+'requestResult');
    if (!thediv){
        var thediv = document.createElement('DIV');
        thediv.id = loc.replace(' ','_')+'requestResult';
        thediv.className = 'requestResult';
    }
    thediv.innerHTML = 'HI!!'
    thediv.setAttribute('onclick',"hide('"+thediv.id+"')");
    ajax('{{=URL("handleQuery")}}'+'/'+requestType+'/'+(loc.replace(' ','_')),[],thediv.id);
    thediv.removeAttribute('hidden');
    document.getElementById('requestResults').appendChild(thediv);
}
function hide(id){
    document.getElementById(id).setAttribute('hidden','');
}
function mapSetup()
{
var w = window.innerWidth;
var h = window.innerHeight;
x = document.getElementById("map");
x.width = window.innerWidth;
placeMarkers();
if ({{=completed}} /*&& document.getElementsByClassName("endGame") == []*/){
    var body = document.getElementsByName("body");
    var newele = document.createElement("div");
    var report = {{=XML(report)}}
    var budgetR = {{=XML(budget)}}
    var revenueR = {{=XML(revenue)}}
    newele.className = "endGame";
    internal ='<table class="reportTable"><tr><td colspan=3 class="endGameTitle">End of Game Report</td></tr>';
    internal += '<tr><td class="tableSiteName">' + report[0][0] + '</td><td class="tableSiteName">'
    + report[0][1] + '</td><td class ="tableSiteName">' + report[0][2] + '</td>';
    for (i=1;i<report.length-1;i++){
        internal += '<tr><td class="tableSiteName">' + report[i][0] + '</td><td class="tableModule"><strong>'
        + report[i][1] + '</strong> person hours </td><td class ="tableModule"><strong>' + report[i][2] + '</strong> person hours</td>';
    }
    //Change colour for the total of the report.
    internal += '<tr><td class="tableEffortTotal">' + report[i][0] + '</td><td class="tableEffortTotal"><strong>'
    + report[i][1] + '</strong> person hours</td><td class ="tableEffortTotal"><strong>' + report[i][2] + '</strong> person hours</td>';
    for (i=0;i<budgetR.length;i++){
        internal += '<tr><td class="tableBudgetTitle">' + budgetR[i][0] + '</td><td class="tableModule"> $'
        + budgetR[i][1] + '</td><td class ="tableModule"> $' + budgetR[i][2] + '</td>';
    }
    for (i=0;i<revenueR.length;i++){
        internal += '<tr><td class="tableRevenueTitle">' + revenueR[i][0]  + '</td><td class="tableModule"> $'
        + revenueR[i][1] + '</td><td class ="tableModule"> $' + revenueR[i][2] + '</td>';
    }
    internal += '<tr><td class="tableSiteName"> Days </td><td class="tableModule"> ' +{{=day}}+'</td><td class ="tableModule"> ' +{{=esti}}+' </td>';
    internal += '<tr><td colspan="2" class="tableBudgetTitle"> Amount over Budget </br> (Cost - Budget) </td><td class="tableModule"> $'+'{{=str("{:,.2f}".format(float(final_cost)))}}'+'</td>'
    internal += '<tr><td colspan="2" class="tableRevenueTitle"> Difference in 6 Monthly Revenue </br> (Actual - Estimate) </td><td class="tableModule"> $'+'{{=final_rev}}'+'</td>'
    internal += '<tr><td colspan="2" class="tableBudgetTitle"> Total Money Made in 6 Months </br> (Revenue + Budget) - Cost </td><td class="tableModule"> $'+'{{=amount}}'+'</td>'
    internal += '<tr><td colspan="3" class="tableModule"><FORM METHOD="LINK" ACTION="save_game_report"><INPUT TYPE="submit" VALUE="Save Game Report"></FORM></td></tr>';

    if ({{=saved}}){
        internal += '<tr><td colspan="3" class="tableModule">Game Report Saved</td></tr>';
    }
    internal += '</table>'
    newele.innerHTML = internal;
    body[0].appendChild(newele);
}
}

</script>
    
<div style="position: absolute; z-index:100">
    <div id='requestResults' style='position:absolute;bottom:0px;'></div>
    <img id="map" src="/SplunkeGSD/static/map.PNG" onclick='hideDetails()';/> 
{{ def getColor(status): }}
    {{if status == 0:}}
        {{colour = "green"}}
    {{elif status == 1:}}
        {{colour = "orange"}}
    {{elif status == 2:}}
        {{colour = "red"}}
    {{else:}}
        {{colour = "blue"}}
    {{pass}}
    {{return colour}}
{{pass}}
{{ for team in modules: }}
    {{ color = getColor(team[3][0]) }}
    <div class='block' id='{{=team[0]}}marker' style='background:{{=color}};' onMouseOver='showDetails(event, "{{=team[0]}}")'></div> 
{{ pass }}
{{for team in modules:}}
    </div>
        <div class="details" id='{{=team[0]}}details' style='z-index:500;position:absolute;border-color:{{=color}};' hidden>
            <div class='detailsHead' id='{{=team[0]}}detailsHead' style="background:{{=color}};" > 
                <strong>{{ =team[0].capitalize() }} <br/>
                Team Size : {{=team[2]}} </strong>
            </div>
            <div class='detailsBody' id='{{=team[0]}}detailsBody'>
                {{for module in team[1]:}}
                <u>{{=module.name}}</u> <br/>Est. Eff. <strong>{{=module.estimateEffort}}</strong> person hrs<br/><br/>
                {{pass}}
                <div id='{{=team[0]}}request' style='position:absolute;bottom:0px;'>
			<select id='{{=team[0]}}queries' style='width:120px'>
                             <option id="email1">Send Email1</option>
                             <option id="email2">Send Email2</option>
                             <option id="email3">Send Email3</option>
                             <option id="holdVideoConference">Hold Video Conference</option>
                             <option id="makeSiteVisit">Make Site Visit</option>
                        </select>
			<input type="button" value="Inquire" onClick="queryHandler('{{=team[0]}}')"></input>
                </div>
            
            <div id='{{=team[0]}}intervention' style='position:absolute;bottom:60px;'>
			<select id='{{=team[0]}}inter' style='width:250px'>
                            {{for val in the_inter[team[0]]:}}
                             <option id="{{=val}}">{{=the_inter[team[0]][val][0]}}</option>
                            {{pass}}
                        </select>
                <center>
			<input type="button" value="Make Intervention" onClick="jsIntervention('{{=team[0]}}')"></input></center>
                </div>
            
            </div>
        </div>
{{ pass }}
</body>

  <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
