[Main-Config]
Test-String = Hello World!! ;test variable

[Map-Dimension]
Map = [4500, 2334]

[Location]
Dublin = [1776, 432]
New York = [907, 621]
Bangalore = [2891, 1045]
Shanghai = [3434, 777]
Sydney = [3816, 1763]
San Francisco = [279, 673]
Minsk = [2166, 420]
Sao Paulo = [1221, 1615]
Mexico City = [490, 959]
Perth = [3362, 1748]
Melbourne = [3695, 1839]
Tokyo = [3646, 695]
Moscow = [2267, 381]
London = [1849, 455]
Budapest = [2080, 520]
Gdansk = [2065, 411]

[Developer]
Cost_Per_Day = 143.50 ;<!-- avg cost of developer per day -->
Dublin_CPD = 143.50 ;<!-- cost of developer per day for different cities, not yet implemented -->
NewYork_CPD = 143.50
Bangalore_CPD = 143.50
Shanghai_CPD = 143.50
Sydney_CPD = 143.50
SanFrancisco_CPD = 143.50
Minsk_CPD = 143.50
SaoPaulo_CPD = 143.50
MexicoCity_CPD = 143.50
Perth_CPD = 143.50
Melbourne_CPD = 143.50
Tokyo_CPD = 143.50
Moscow_CPD = 143.50
London_CPD = 143.50
Budapest_CPD = 143.50
Gdansk_CPD = 143.50

[Development Period]
Effort = 4.0

[Geographic Distance] ;not implemented
Same region = 1
Less than three hour flight = 2
Transcontinental flight	= 3
Intercontinental flight = 4

[Temporal Distance]  ;not implemented
Transcontinental = 1
Intercontinental = 2
Global = 3
No overlap = 4

[Cultural Distance]  ;not implemented
Lack of a common language = 4
Uneven language skills = 3
East/West divide in culture = 3
High versus Low context cultures = 3
Different national culture = 2
Different organizational culture = 1

