[Map-Dimension]
Map = [4500, 2334]

[Location] ; units = [x,y]
Dublin = [1776, 432]
New York = [907, 621]
Bangalore = [2891, 1045]
Shanghai = [3434, 777]
Sydney = [3816, 1763]
San Francisco = [279, 673]
Minsk = [2166, 420]
Sao Paulo = [1221, 1615]
Mexico City = [490, 959]
Perth = [3362, 1748]
Melbourne = [3695, 1839]
Tokyo = [3646, 695]
Moscow = [2267, 381]
Budapest = [2080, 520]
Gdansk = [2065, 411]

[Global - Dublin] ; settings for global distance variables  Locations = [graphical, temporal, [common_lang, uneven_lang, eastvswest, highvlow, nationalculture, organizculture]] 
New York = [3,2,[0,0,0,0,0,0]]
Bangalore = [4,2,[4,0,3,3,0,0]]
Shanghai = [4,3,[4,0,3,3,0,0]]
Sydney = [4,3,[0,0,0,0,0,0]]
San Francisco = [4,3,[0,0,0,0,0,0]]
Minsk = [3,1,[4,0,3,3,0,0]]
Sao Paulo = [4,2,[4,0,3,3,0,0]]
Mexico City = [4,2,[4,0,3,3,0,0]]
Perth = [4,3,[0,0,0,0,0,0]]
Melbourne = [4,3,[0,0,0,0,0,0]]
Tokyo = [4,2,[4,0,3,3,0,0]]
Moscow = [3,1,[4,0,3,3,0,0]]
London = [2,1,[0,0,0,0,0,0]]
Budapest = [2,2,[4,0,3,0,0,0]]
Gdansk = [2,1,[4,0,3,3,0,0]]

[Developer] ;units = $ per day
Cost_Per_Day = 143.50 ;<!-- avg cost of developer per day -->
Dublin_CPD = 143.50 ;<!-- cost of developer per day for different cities, not yet implemented -->
NewYork_CPD = 143.50
Bangalore_CPD = 143.50
Shanghai_CPD = 143.50
Sydney_CPD = 143.50
SanFrancisco_CPD = 143.50
Minsk_CPD = 143.50
SaoPaulo_CPD = 143.50
MexicoCity_CPD = 143.50
Perth_CPD = 143.50
Melbourne_CPD = 143.50
Tokyo_CPD = 143.50
Moscow_CPD = 143.50
London_CPD = 143.50
Budapest_CPD = 143.50
Gdansk_CPD = 143.50

[Development Period] ; units = hours per day
Effort = 4.0 ; avg amount of time working per dev per day
Dublin_DevTime = 4.0 ;<!-- amount of time of actual work per dev per day for different cities, not yet implemented -->
NewYork_DevTime = 4.0
Bangalore_DevTime = 4.0
Shanghai_DevTime = 4.0
Sydney_DevTime = 4.0
SanFrancisco_DevTime = 4.0
Minsk_DevTime = 4.0
SaoPaulo_DevTime = 4.0
MexicoCity_DevTime = 4.0
Perth_DevTime = 4.0
Melbourne_DevTime = 4.0
Tokyo_DevTime = 4.0
Moscow_DevTime = 4.0
London_DevTime = 4.0
Budapest_DevTime = 4.0
Gdansk_DevTime = 4.0

[Geographic Distance] ; units = degree of issue 
Same region = 1
Less than three hour flight = 2
Transcontinental flight	= 3
Intercontinental flight = 4

[Graphical Distance Interventions]  ; units = degree of issue
Face-to-face meetings = 4
Exchange program = 4
Synchronous communication possibilities	= 3
Support for video conference at all sites  = 2
Suitable selection of communication tools  = 2

[Temporal Distance]   ; units = degree of issue
Transcontinental = 1
Intercontinental = 2
Global = 3
No overlap = 4

[Temporal Distance Interventions] ; units = degree of issue
Relocate to adjacent time zone = 4
Adopt Follow the Sun development = 4
Create bridging team = 3

[Cultural Distance]  ; units = degree of issue
Lack of a common language = 4
Uneven language skills = 3
East/West divide in culture = 3
High versus Low context cultures = 3
Different national culture = 2
Different organizational culture = 1

[Cultural Distance Inteventions]  ; units = degree of issue
Face-to-face meeting = 4
Cultural Training = 3
Cultural Liaison or Ambassador = 3
Adopt low-context communication style = 2
Reduce interaction between teams from different cultures = 1

[Problems] ; units = percentage delay
probability=0.2
home_prob=0.2
team reports progress inaccurately = -1

[Problems Design] ; units = percentage delay 
delay=15

[Problems Implementation]  ; units = percentage delay
delay=15

[Problems Unit Test]  ; units = percentage delay
delay=25

[Problems Integration] ; units = percentage delay
delay=40

[Problems System Test] ; units = percentage delay
delay=55

[Problems Deployment]  ; units = percentage delay
delay=70

[Problems Acceptance Test]  ; units = percentage delay
delay=100

[Cost of Interventions] ; units = $
1 = 5000
2 = 25000
3 = 125000
4 = 500000

