[Main-Config]
Test-String = Hello World!! ;test variable

[Map-Dimension]
Map = [4500, 2334]

[Location]
Dublin = [1776, 432]
New York = [907, 621]
Bangalore = [2891, 1045]
Shanghai = [3434, 777]
Sydney = [3816, 1763]
San Francisco = [279, 673]
Minsk = [2166, 420]
Sao Paulo = [1221, 1615]
Mexico City = [490, 959]
Perth = [3362, 1748]
Melbourne = [3695, 1839]
Tokyo = [3646, 695]
Moscow = [2267, 381]
London = [1849, 455]
Budapest = [2080, 520]
Gdansk = [2065, 411]

[Development Period]
Effort = 4.0
